/* gltt a comment in css*/

body{
	background-color: darkmagenta;
	font-family: monospace;
}
p {
	background-color: deeppink;
	font-size: 23pt;
	/* color is text color*/
	color: darkred;
}

.notification{
	border: 9px dashed green;
	margin-bottom: 20px;
}
/* being odee specific abt which div */
/* bc CSS prioritizes higher specificity */
/* this will override the previous styling on some sht */
/* will apply to any element that looks like */
/* class=notification warning */
.notification.warning {
	border-color: orange;
	background-color: darkgreen;
}
#darkblue{
	background-color: skyblue;
	color: bisque;
}
#first{ background-color: beige;

}

.olive{
	background-color: #988f2a;
}
.olivebark{
	background-color: #6A5837;
}
.olive, .olivebark{
	width: 300px;
	height:500px;
}