/* back to the basics ; collages */
body{
	background-color: beige;
	font-family: monospace;
}


.hide {
	display: none;
}

#show_past1:hover + #past1{
	display:block;
}

.container{
	background: #e5e5e5;
	height: 100%;

	/* grid properties & sht */
    /* grid goes on parent */
    display: grid;
    gap: 20px;
    padding: 10px ; 
/*{
	width: 300%;
	background-color: whitesmoke;
	display: inline-block;
	padding-left: 10px;
}*/